*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 10ch;
}

.card {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    padding: 3rem 4rem;
    border: 1px solid #e1e1e1;
}

.card h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    text-align: center;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.card label {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.8rem;
    font-weight: 300;   
}

.card label input {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e1e1e1;
    outline: none;
}

.card input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.card input[type="submit"]:hover {
    background-color: #333;
}

.result-sum {
    font-weight: 600;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
}